@font-face {
    font-family: "VCR OSD Mono";
    src: url('../../typos/typo.ttf');
}

body{
    font-family: "VCR OSD Mono";
    background-color:black;
    color:lightgrey;
    overflow:hidden;
    background-size:cover;
    background-size: 100%;
    background-position: center;
    margin:0;
    padding: 0;
    text-align: center;
    text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px, black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px, black -2px 0px 1px;    
}

.condition_utilisation{
    background-color: aliceblue;
    width: 50vh;
    height: 80vh;
    display: inline-block;
    margin-top: 10vh;
    box-shadow: 5px 2px 2px rgba(119, 103, 103, 0.444);
    overflow: hidden;
}