@font-face {
    font-family: "VCR OSD Mono";
    src: url('../../typos/typo.ttf');
}

body {
    font-family: "VCR OSD Mono";
    background-color: black;
    color: white; /* Changement de la couleur du texte */
    overflow: auto; /* Utilisation de overflow: auto; pour ajouter une barre de défilement si nécessaire */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px 1px black, -2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black, 0px 2px 1px black, 0px -2px 1px black, 2px 0px 1px black, -2px 0px 1px black;
}

.condition_utilisation {
    background-color: aliceblue;
    width: 50vh;
    height: 60vh;
    display: inline-block;
    margin-top: 10vh;
    box-shadow: 5px 2px 2px rgba(119, 103, 103, 0.444);
    overflow-y: auto;
    padding: 10px; /* Ajout d'un espacement intérieur */
}

.cond {
    font-family: Arial;
    color: black;
    font-size: 10px;
    text-shadow: none;
    overflow: hidden;

}
