@font-face {
    font-family: "VCR OSD Mono";
    src: url('/typos/typo.ttf');
}


.container {
    text-align: center;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VCR OSD Mono";
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#scrolling-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 2; 
    z-index: 2; 
    animation: fadeIn 5s ease-in-out 1;
}

#scrolling-text p {
    animation: marquee 26s linear infinite;
    color: white;
}

@keyframes marquee {
    0% { transform: translateY(1500%); }
    100% { transform: translateY(-1500%); }
}